Repository tacosdedatos/website, pull requests merged in 2020-05, with the labels that each got.

#41 Create 2020-05-08-Dueno-de-mis-Datos-Facebook.md
  _posts/2020-05-08-Dueno-de-mis-Datos-Facebook.md
Labels: blog post

#43 Pruebas unitarias en python
  _posts/2020-05-12-pruebas-unitarias-pytest.md
  assets/detrasdelavis/002.png
Labels: blog post

#44 hidden scroll
  assets/built/prism.css
Labels: enhancement

#42 Create 2020-05-18-Dueno-de-mis-Datos-Facebook-Parte-II.md
  _posts/2020-05-18-Dueno-de-mis-Datos-Facebook-Parte-II.md
Labels: blog post

#45 Create 2020-05-25-Dueno-de-mis-Datos-Facebook-Parte-III.md
  _posts/2020-05-18-Dueno-de-mis-Datos-Facebook-Parte-II.md
Labels: bug

#46 Post III FB
  _posts/2020-05-25-Dueno-de-mis-Datos-Facebook-Parte-III.md
Labels: blog post

#47 post de eda
  _posts/2020-05-12-pruebas-unitarias-pytest.md
  _posts/2020-05-24-introduccion-eda.md
  assets/tutoriales/eda_01.png
Labels: blog post
